<% @page_title = "UserAuth | Login" -%>

<h2>Log in</h2>

<%= form_tag(:action => 'login_attempt') do %>
  <div class="row">
    <div class="form-group col-lg-2">
      <%= label_tag 'Username or Email' %>
    </div>
    <div class="form-group col-lg-2">
      <%= text_field_tag :username_or_email, nil, :class => 'form-control' %></p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-2">
      <%= label_tag 'Password' %>
    </div>
    <div class="form-group col-lg-2">
      <%= password_field_tag :login_password, nil, :class => 'form-control' %></p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-4">
      <%= submit_tag "Log In", :class=>'btn btn-default' %>
    </div>
  </div>
<% end %>