<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>medium:</strong>
  <%= @article.medium %>
</p>

<p>
  <strong>year:</strong>
  <%= @article.year %>
</p>

<p>
  <strong>size:</strong>
  <%= @article.width %> by <%= @article.height %>
</p>

<p>
  <strong>category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>filename:</strong>
  <%= @article.filename %>
</p>