<% @page_title = "Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <div class="row">
      <div class="form-group col-lg-2">
        <%= label_tag 'Username' %>
      </div>
      <div class="form-group col-lg-2">
        <%= f.text_field :username, :class => 'form-control' %></p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-2">
        <%= label_tag 'Email' %>
      </div>
      <div class="form-group col-lg-2">
        <%= f.text_field :email, :class => 'form-control' %></p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-2">
        <%= label_tag 'Password' %>
      </div>
      <div class="form-group col-lg-2">
        <%= f.password_field :password, :class => 'form-control' %></p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-2">
        <%= label_tag 'Password Confirmation' %>
      </div>
      <div class="form-group col-lg-2">
        <%= f.password_field :password_confirmation, :class => 'form-control' %></p>
      </div>
    </div>
    <%= f.submit :Signup, :class=>'btn btn-default' %>
  <% end %>

  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>


