<%= form_for :art, :html => {:multipart => true}, url: @path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class=>"form-control" %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :class=>"form-control" %>
  </p>

  <p>
    <%= f.label :medium %><br>
    <%= f.text_field :medium, :class=>"form-control" %>
  </p>
 
  <p>
    <%= f.label :category %><br>
    <%= select :art, :category_cd, enum_option_pairs(Art, :category, true), {}, {:class=>"form-control"} %>
  </p>

  <p>
    <%= f.label :width %><br>
    <%= f.select(:width, options_for_select(10..100), {}, {:class=>"form-control"})%>
  </p>

  <p>
    <%= f.label :height %><br>
    <%= f.select(:height, options_for_select(10..100), {}, {:class=>"form-control"})%>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.select(:year, options_for_select(2010..Date.today.year), {}, {:class=>"form-control"})%>
  </p>

  <p>
    <%= f.label :file %><br>
    <%= f.file_field :filename, :class=>"form-control" %>
  </p>

  <p>
    <%= f.submit "Submit", :class=>'btn btn-primary' %>
  </p>
<% end %>