<h2>editing resource</h2>
<%= form_for @art do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :medium %><br>
    <%= f.text_field :medium %>
  </p>
 
  <p>
    <select class="form-control" id="art_category_cd" name="art[category_cd]">
        <option value="0">Studies</option>
        <option value="1">Themes</option>
        <option value="2">Drawings</option>
    </select>
  </p>

  <p>
    <%= f.label :width %><br>
    <%= f.select :width, options_for_select(10..100)%>
  </p>

  <p>
    <%= f.label :height %><br>
    <%= f.select :height, options_for_select(10..100)%>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.select :year, options_for_select(2010..Date.today.year)%>
  </p>

  <p>
    <%= f.label :file %><br>
    <%= f.file_field :filename %>
  </p>

  <p>
    <div class="actions">
    <%= f.submit "Update" %>
    </div>
  </p>
<% end %>
