<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>medium:</strong>
  <%= @art.medium %>
</p>

<p>
  <strong>year:</strong>
  <%= @art.year %>
</p>

<p>
  <strong>size:</strong>
  <%= @art.width %> by <%= @art.height %>
</p>

<p>
  <strong>category:</strong>
  <%= @art.category %>
</p>

<p>
  <strong>filename:</strong>
  <%= @art.filename %>
</p>