<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html ng-app="gallery">
<head>
  <title>Hyunju Kim</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <base href="/" />
  <meta name="viewport" content="user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Petrona" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Signika" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Finger+Paint" />
</head>

<body ng-controller="MenuController">

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<div class="navbar navbar-default navbar-top" role="navigation">
  <div class="container navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="title" ui-sref="home">HYUNJU KIM</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <li class=<%= "active" if params[:params] == "studies"%>><a href="arts/studies" class = "links">studies</a></li>
          <li class=<%= "active" if params[:params] == "themes"%>><a href="arts/themes" class = "links">themes</a></li>
          <li class=<%= "active" if params[:params] == "drawings"%>><a href="arts/drawings" class = "links">drawings</a></li>
        <% else %>
          <li ng-class="{ active: $state.includes('studies') }"><a ui-sref="studies" class = "links">studies</a></li>
          <li ng-class="{ active: $state.includes('themes') }"><a ui-sref="themes" class = "links">themes</a></li>
          <li ng-class="{ active: $state.includes('drawings') }"><a ui-sref="drawings"  class = "links">drawings</a></li>
        <% end %>

        <li ng-class="{ active: $state.includes('artist_info') }"><a ui-sref="artist_info" class = "links">artist info</a></li>
        <% if @current_user %>
          <li><a href = "#" class = "links"><%=@current_user.username%> profile</a></li>
          <li><a href = "/logout" class = "links">logout</a></li>
        <% end %>        
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.navbar-container -->
  <div class="container">
    <div ui-view autoscroll="false" style="margin-left:50px; margin-right:50px"></div>
    <%=yield%>
  </div> <!-- /container -->
</div>

<div id="share"></div>
<input type = "button" ng-click="isLoggedIn=true">
<% if @current_user %>
true
<input type = "text" value="true" ng-model="isLoggedIn">
<% else %>
false
<input type = "text" value="false" ng-model="isLoggedIn">
<% end %>

<% if @current_user %>
<script type="text/javascript" language="JavaScript">
$(document).ready(function () {
  window.loggedIn = true;
}
</script>
<% end %>

<script type="text/javascript" language="JavaScript">
$(document).ready(function () {

    $('#share').share({
        networks: ['facebook','pinterest','googleplus','twitter','linkedin','tumblr','email','stumbleupon'],
        orientation: 'vertical',
        urlToShare: 'http://www.whyi.net/hyunju',
        affix: 'right center'
    });
});
</script>
  
<div class="footer" align="center">
    &copy; 2014 / All rights reserved by Hyunju Kim 
</div>


</body>

</html>